:root{
    --border: 1px solid black;
    --default-purple-color : rgb(79, 70, 229);
    --radial-background: radial-gradient(circle at top left, #AAB8FC 0%, transparent 30%),
        radial-gradient( circle at bottom right, #b6c0f0 0%, transparent 15%),
        #F7F7F7;
    --h1-font-size: clamp(1rem, calc(1vw + 1.5rem), 3rem); 
    --p-font-size: clamp(0.8rem, calc(1vw + 0.2rem), 1.7rem);
    --p-color: rgba(0, 0, 0, 0.7);
}

body{
    background-color: #EBEBEB;
}

/* This part is for the header */
header{
    text-align: center;
    margin-top: 2rem;
}

.header-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-inline: 0.5rem;
}

.header-content h4{
    color: var(--default-purple-color);
    font-weight: 400;
    font-size: 1.5rem;
}

.header-content h1{
    font-size: var(--h1-font-size);
    font-weight: 400;
}

.header-content p{
    font-size: var(--p-font-size);
    color: var(--p-color);
    line-height: 1.5rem;
}

.total-reports{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 1rem;
    padding-inline: 1rem;
}

.total-reports-content{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-block: 1rem;
    padding-inline: 0.5rem;
    background-color: white;
    width:20rem;
    border-radius: 1rem;
}

.total-reports-content span{
    color: var(--default-purple-color);
    padding: 0.8rem;
    background-color: #EBEBEB;
    border-radius: 1rem;
    font-size: 1.5rem;
    overflow: hidden;
}

.total-reports-content div{
    display: flex;
    flex-direction: column;
}

.total-reports-content h1{
    font-size: var(--h1-font-size);
    font-weight: 400;
}

.total-reports-content p{
    font-size:  var(--p-font-size);
    color: var(--p-color);
}
 /*  header ends and main starts */

 main{
    padding-inline: 3rem;
     margin-top: 2rem;
 }
 .main-nav{
    background-color: #ffffff;
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;

 }

 .main-nav button{
    background-color: transparent;
    width: 10rem;
    padding-block: 0.5rem;
    padding-inline: 0.1rem;
    font-size: var(--p-font-size);
    border-radius: 1rem;
    color: var(--p-color);
    border: none;
 }

 .main-nav button:hover{
    background-color: var(--default-purple-color);
    color: white;
 }

 .main-nav button:active{
    transform: scale(0.98);
    transition: all 0.05s linear;
 }

 /* the start of the trending container */
 .trending-search{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
 }

 .trending-search *{
    width: 20rem;
    height: 2.5rem;
    font-size: var(--p-font-size);
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding-inline: 1rem;
    color: var(--p-color);
    background-color: transparent;
 }

 /* for each individual site */

 .trending-content-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #ffffff;
    padding-inline: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding-bottom: 2rem;
 }

 .trending-content-container > p{
    margin-left: 3.7rem;
    font-size: var(--p-font-size);
    color: var(--p-color);
    line-height: 1.5rem;
 }

 .site{
    display: flex;
    padding-inline: 1rem;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
 }

 .site > h2{
    color: rgba(0, 0, 0, 0.3);
    font-size: clamp(0.6rem, calc(1vw + 0.8rem), 2.1rem); 
 }

 .site-name{
    display: flex;
    align-items: center;
    gap: 2rem;
 }


 .site-name > h2{
    font-size: clamp(0.6rem, calc(1vw + 0.8rem), 2.1rem); 
 }

 .site-name p{
    font-size: 0.8rem;
    padding-block: 0.3rem;
    padding-inline: 0.5rem;
    border-radius: 5px;
    color: #DC2626;
    background-color: #FDEDED;
    border-color: #DC2626;
 }

 .view-report{
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 0.3rem;
    font-size: 0.8rem;
    border-radius: 5px;
    background-color: #EBEBEB;
 }

 .view-report span{
    overflow: hidden;
    font-size: 0.8rem;
 }

 .site-info{
    display: flex;
    gap: 2rem;
    justify-content: left;
    margin-left: 3.7rem;
 }

 .site-info > *{
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    gap: 0.7rem;
    color: var(--p-color);
 }

  .site-info > * span{
    overflow: hidden;
    font-size: 0.8rem;
  }

  .site-info div:nth-child(3){
    color: #FBBF24;
  }


@media (max-width: 767px){
    /* for the header  */

    .header-content p{
        font-size: 0.7rem;
    }
    
    .and-break{
        display: none;
    }

    .total-reports-content{
        gap: 0.5rem;
    }

    .total-reports-content h1{
        font-size: 1rem;
        font-weight: 400;
    }

    .total-reports-content p{
        font-size:  0.5rem;
        color: var(--p-color);
    }

    .total-reports-content span{
        font-size: 0.8rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    /* for the main section */
    .main-nav{
        min-width: 80%;
        gap: 0.2rem;
        padding-inline: 0.5rem;
    }

    .main-nav button{
        font-size: 0.6rem;
    }

    /* for the trending container */

    .site{
        gap: 0.5rem;
        padding-inline: 0;
    }

    .site > h2{
        font-size: 0.8rem;
    }

    .site-name{
        gap: 0.5rem;
        justify-content: center;
    }

    .site-name > h2{
        font-size: 0.8rem;
    }

    .site-name > p{
        font-size: 0.3rem;
        padding-block: 0.2rem;
    }

    .view-report{
        padding-block: 0.5rem;
        padding-inline: 0.2rem;
        font-size: 0.3rem;
        border-radius: 5px;
        background-color: #EBEBEB;
    }

    .view-report{
        padding-block: 0.2rem;
    }

    .view-report span{
        font-size: 0.3rem;
    }

    .trending-content-container > p{
        margin-left: 0;
        font-size: var(--p-font-size);
        color: var(--p-color);
        margin-left: 1.3rem;
    }

    .site-info{
        gap: 1rem;
        margin-left: 1.3rem;
    }

        .site-info > *{
            display: flex;
            font-size: 0.5rem;
            align-items: center;
            gap: 0.5rem;
            color: var(--p-color);
    }

}

/* For both mobile and tablets */

@media (min-width: 0px) and (max-width: 1023px) {
    /* for the main section */
    main{
        padding-inline: 1rem;
    }

     /* trending div */

     .trending-search{
        justify-content: center;
     }
    
     .trending-search *{
        min-width: 47%;
        height: 2rem;
        font-size: 0.7rem;
        border: 2px solid rgba(0, 0, 0, 0.5);
        padding-inline: 0.5rem;
        color: var(--p-color);
        background-color: transparent;
    }

}

/* For tablets */
@media (min-width: 768px) and (max-width: 1023px) {
     /* for the main section */
     .main-nav{
        min-width: 60%;
    }

    .trending-content-container > p{
        margin-left:3.3rem;
    }

    .site-info{
        gap: 3rem;
        margin-left: 3.3rem;
    }
}
