* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
}
/* Css variable for default border to help with layouts */

:root {
  --border: 2px solid black;
  --default-purple-color: #4f46e5;
}

.body {
  background-color: #f7f7f7;
}

/* General css for every element */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
}

/* Starting here is everything that has to do with the nav/header */

.dashboard-link{
  border: none;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4f46e5;
  overflow: hidden;
  color: white;
}

nav {
  background-color: #f7f7f7;
  display: flex;
  padding-inline: 5rem;
  padding-block: 1rem;
  justify-content: left;
  align-items: center;
  gap: 2rem;
}

.logo {
  font-size: 0.8rem;
  font-weight: 400;
}

.logo h1 {
  font-weight: 300;
  font-size: 1.3rem;
}

.fa-link {
  color: var(--default-purple-color);
  font-size: 1.2rem;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.01rem;
  font-weight: 500;
}

nav div:first-child {
  display: flex;
  gap: 0.5rem;
}

.page-links a:hover {
  color: var(--default-purple-color);
}

.page-links {
  display: flex;
  gap: 1rem;
}

.nav-create-profile {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-inline: 1rem;
}

.nav-create-profile a:first-child {
  align-self: center;
  font-size: 1rem;
}

.nav-create-profile a:last-child {
  border: var(--border);
  padding-inline: 1.5rem;
  padding-block: 1rem;
  border-radius: 0.5rem;
  background-color: var(--default-purple-color);
  color: white;
  border: none;
  font-size: 1rem;
}

.nav-create-profile a:last-child:active {
  transform: scale(0.99);
  transition: all 0.07s linear;
}

nav > .fa-bars {
  display: none;
}

nav > .fa-bars:hover{
  cursor: pointer;
}

.hamburger-nav{
  position: absolute;
  left: 0;
  top: 13%;
  /* display: flex;
  flex-direction: column; */
  background-color: #fff;
  min-width: 100vw;
  z-index: 100;
  /* overflow: visible; */
  display: none;
}

.hamburger-nav  a{
  padding: 1rem;
  display: block;
}

.hamburger-nav > a:hover{
  background-color: #EBECEF;
}

nav > .nav-close{
  display: none;
  overflow: hidden;
  font-weight: 400;
}

nav > .nav-close:hover{
  cursor: pointer;
}

/* Everything regarding the nav/header ends here */

/* for the footer */
footer {
  background-color: #111827;
  padding-inline: 5rem;
  justify-content: right;
  display: flex;
  gap: 2rem;
  padding-block: 2rem;
}

footer p {
  color: #686f7d;
}

footer h4 {
  color: #ffffff;
}

.footer-logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.footer-logo-container {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-container > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fa-link {
  padding-block: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  padding-right: 1.6rem;
  color: white;
  background-color: var(--default-purple-color);
  font-size: 1rem;
}

/* Everything for footer ends here */

/* This part is for media queries. Wont include for laptops cos its already the default */

/* For mobile */

@media (max-width: 767px) {
  nav{
    padding-inline: 1rem;
  }
}

/* For both mobile and tablets */

@media (min-width: 0px) and (max-width: 1023px) {
  nav {
    justify-content: space-between;
  }

  .page-links,
  .nav-create-profile {
    display: none;
  }

  nav > .fa-bars {
    display: block;
    font-size: 2rem;
  }

  /* for footer */

  footer {
    flex-direction: column;
    padding-inline: 1rem;
  }

  .hamburger-nav{
    top: 9.5%;
  }
}

/* For tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  nav {
    padding-inline: 2rem;
  }
}
