body {
  width: 100%;
  min-height: 100vh;
  font-family: Manrope, sans-serif;
  margin: 0;
  background: #eaeaec;
}
main {
  background: white;
  /* width: 1280px; */
  min-height: 100vh;
  margin: 60px;
  padding: 16px;
  border-radius: 10px;
  overflow: hidden;
}
.heading {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 0;
}
.xmark-container {
  background: #f9fafb;
  width: 48px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e7eb;
}
/* web safety score first section */
.wsafety-container {
  display: flex;
  justify-content: space-between;
  /* width: 1248px; */
  height: 290px;
  padding-right: 24px;
  gap: 48px;
}
.wsafety-range-container {
  width: 233px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 32px;
  padding: 16px;
}
.wsafety-range {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wsafety-range::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 11px solid #15803d;
  /* This removes only a small custom section instead of a full 90-degree border side */
  mask: conic-gradient(from 0deg, transparent 0deg 36deg, #fff 37deg 360deg);
  -webkit-mask: conic-gradient(
    from 320deg,
    transparent 0deg 36deg,
    #fff 37deg 360deg
  );
}
.wsafety-range-score {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 46px;
}
strong {
  font-size: 24px;
  letter-spacing: -1;
}
.wsafety-range-score small {
  font-size: 10px;
}
.wsafety-range-container button {
  padding: 2px 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #dcfce7;
  font-weight: 600;
  color: rgb(63, 63, 63);
}
.wsafety-text {
  /* width: 943px; */
  height: 200px;
  gap: 12px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* max-width: 1150px; */
}
.wsafety-text p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 400;
}

.wsafety-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* width: 943px; */
  height: 50px;
  gap: 24px;
  /* max-width: 500px; */
}
.wsafety-links button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 4px;
  border-radius: 10px;
  border: none;
  background: #4f46e5;
}
.wsafety-links button a {
  text-decoration: none;
  color: rgb(251, 249, 249);
  font-size: 16px;
}
.wsafety-links a {
  text-decoration: none;
  color: rgb(13, 13, 13);
  font-size: 14px;
  display: inline-block;
}
/* .wsafety-links i {
} */
/* web safety score second section */
.wdetails-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
}
.website-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  /* width: 1248px; */
  height: 334px;
  padding: 16px 16px 0;
}
.website-texts {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  width: 200px;
  height: 220px;
  gap: 8px;
}
.wt-child {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wurl {
  width: 174px;
  height: 75px;
  gap: 8px;
}
.wdomain {
  width: 78px;
  height: 75px;
  gap: 8px;
}
.w-ip-address {
  width: 130px;
  height: 75px;
  gap: 8px;
}
.wt-child p {
  /* padding: 10px 0; */
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.wurl a,
.wdomain span,
.w-ip-address strong {
  font-size: 16px;
  line-height: 24px;
}
.wurl a {
  color: #4f46e5;
}
.wdomain span {
  color: black;
  font-weight: 600;
}
.website-preview {
  width: 786px;
  height: 318px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.website-preview img {
  width: 100%;
  height: auto;
  display: block;
}
.wdetails-text {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.wdetails-text span {
  font-size: 10px;
  padding: 3px 0;
}
.green {
  color: #059665;
}
.indicator-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  gap: 0 20px;
}
.p-indicator {
  grid-column: 1;
  grid-row: 1;
  padding: 20px;
}
.r-indicator {
  grid-column: 2;
  grid-row: 1;
  color: red;
  justify-self: start;
  padding: 20px;
}
.pindicator-content {
  grid-column: 1;
  grid-row: 2;
  border: 1px solid rgb(241, 240, 240);
  border-radius: 10px;
  padding: 10px;
  max-width: 650px;
}
.pi-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.pi-text1,
.ctrust-text {
  display: flex;
  gap: 2px;
}
.pi-text1 i {
  font-size: 12px;
}
.pi-text2 {
  display: flex;
  flex-direction: column;
}
.pi-text2 p,
.rindicator-content p {
  font-size: 10px;
}
.pi-text button {
  padding: 6px 8px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #d1fae5;
  font-weight: 600;
  color: rgb(63, 63, 63);
  font-size: 8px;
}
.rindicator-container {
  grid-column: 2;
  grid-row: 2;
}
.rindicator-content {
  border: 1px solid rgb(241, 240, 240);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ctrust-container {
  border: 1px solid rgb(241, 240, 240);
  border-radius: 10px;
}
.ctrust-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.ctrust-text1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ctrust-text1 span {
  font-size: 10px;
}
/* footer section uses some of the styles from the global css and also extra styles used in this stylesheet */

footer {
  margin-top: 30px;
  padding: 10px 20px 30px;
  display: flex;
  flex-direction: column;
}
.f-container {
  display: flex;
  justify-content: space-between;
}
.footer-logo-content {
  padding: 20px 20px 0;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.product-content,
.company-content,
.legal-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.footer-content p {
  padding: 5px 0;
  font-size: 15px;
}
.footer-content h4 {
  padding: 0 0 10px;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.flc1 {
  display: flex;
  gap: 10px;
}
.footer-logo-content p {
  padding: 20px 10px 0;
  font-size: 15px;
}
hr {
  border: 1px solid rgb(45, 44, 44);
}
.privacy-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.policies {
  display: flex;
  gap: 30px;
}

/* media query for responsiveness */
@media (max-width: 1370px) {
  .website-preview {
    width: 650px;
  }
  .pindicator-content {
    max-width: 450px;
  }
  .wurl a,
  .wdomain a,
  .w-ip-address strong {
    font-size: 14px;
  }
  .wt-child p {
    font-size: 14px;
  }
  .footer-logo-content {
    max-width: 300px;
  }
}

@media (max-width: 1024px) {
  .wsafety-range {
    width: 135px;
    height: 135px;
  }
  .wsafety-text p {
    font-size: 12px;
  }
  .wsafety-links button {
    padding: 8px 15px;
  }
  .wsafety-links button a {
    font-size: 12px;
  }
  .wsafety-links i {
    font-size: 12px;
  }
  .wsafety-links a {
    font-size: 12px;
  }
  .website-texts {
    width: 300px;
  }
  .website-preview {
    width: 486px;
  }
  .wurl a,
  .wdomain span,
  .w-ip-address strong {
    font-size: 12px;
  }
  .wt-child p {
    font-size: 12px;
  }
  .website-texts {
    padding: 10px 10px;
  }
  .pindicator-content {
    max-width: 350px;
  }
  .footer-logo-content {
    max-width: 250px;
    padding: 20px 0 0;
  }
  .footer-logo-content p,
  .footer-content p {
    font-size: 12px;
  }
}

@media (max-width: 820px) {
  .wsafety-links {
    gap: 10px;
  }
  .wsafety-links button {
    padding: 4px 6px;
  }
  .wsafety-container {
    justify-content: flex-start;
    gap: 15px;
  }
  .wsafety-range-container {
    width: 350px;
  }
  .wdetails-container {
    flex-wrap: wrap;
    padding: 0 5px 0;
  }
  .footer-logo-content {
    max-width: 160px;
  }
  .footer-logo-content p,
  .footer-content p {
    font-size: 10px;
  }
}

@media (max-width: 650px) {
  .wsafety-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .wsafety-text {
    padding-top: 0px;
    padding-left: 20px;
  }
  .wsafety-links {
    gap: 15px;
    max-width: 400px;
    flex-wrap: wrap;
    height: auto;
    padding: 15px;
  }
  .website-container {
    flex-direction: column;
    height: 450px;
    gap: 30px;
  }
  .website-preview {
    width: 100%;
  }
  .website-texts {
    height: 270px;
    width: 250px;
  }
  .w-ip-address,
  .wurl,
  .wdomain {
    width: auto;
    height: auto;
  }
  .privacy-info {
    font-size: 9px;
    justify-content: flex-start;
    gap: 10px;
  }
  .policies {
    gap: 10px;
  }
  .indicator-container {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
  }
  .p-indicator {
    padding: 10px;
    grid-column: 1;
    grid-row: 1;
  }
  .r-indicator {
    padding: 10px;
    grid-column: 1;
    grid-row: 3;
  }
  .p-indicator-content,
  .r-indicator-content {
    width: 100%;
  }
  .rindicator-container {
    grid-column: 1;
    grid-row: 4;
  }
  .pindicator-content {
    max-width: 550px;
  }
  .footer-content {
    flex-direction: column;
    gap: 10px;
  }
  .f-container {
    flex-direction: column;
    gap: 10px;
  }
  .footer-logo-content {
    max-width: 450px;
  }
}

@media (max-width: 470px) {
  .heading {
    margin: 10px 0 0;
    justify-content: center;
    align-items: center;
  }
  .heading h3 {
    font-size: 15px;
  }
  .xmark-container {
    display: none;
  }
  .xmark-container span {
    font-size: 12px;
  }
  .wsafety-range-container {
    height: 250px;
    gap: 20px;
  }
  .wsafety-container {
    gap: 0;
    padding-right: 0px;
  }
  .privacy-info {
    font-size: 6px;
    gap: 8px;
  }
  .policies {
    gap: 8px;
  }
  .footer-logo-content p,
  .footer-content p {
    font-size: 8px;
  }
  .flc1 h3 {
    font-size: 15px;
  }
  .footer-content h4 {
    font-size: 12px;
  }
  .wsafety-text {
    height: auto;
  }
  .wsafety-text p {
    font-size: 10px;
  }
  .wsafety-links button {
    padding: 4px 10px;
  }
  .wsafety-links button a {
    font-size: 10px;
  }
  .wsafety-links i {
    font-size: 12px;
  }
  .wsafety-links a {
    font-size: 10px;
  }
  .wsafety-links {
    gap: 15px;
  }
  .ctrust-icon-fa {
    font-size: 12px;
  }
  .ctrust-text1 h4 {
    font-size: 13px;
  }
  .pi-text2 h5,
  .rindicator-content h5,
  .ctrust-text h5 {
    font-size: 10px;
  }
  .pi-text2 p,
  .rindicator-content p,
  .ctrust-text1 span {
    font-size: 8px;
  }
  .p-indicator h4,
  .r-indicator h4 {
    font-size: 12px;
  }
  main h5 {
    font-size: 12px;
  }
  .wdetails-text span {
    font-size: 10px;
  }
}

@media (max-width: 392px) {
  .wsafety-text p {
    font-size: 10px;
  }
  .wdetails-text span {
    font-size: 8px;
  }
  .pi-text2 h5,
  .rindicator-content h5,
  .ctrust-text h5 {
    font-size: 7px;
  }
  .pi-text2 p,
  .rindicator-content p,
  .ctrust-text1 span {
    font-size: 6px;
  }
  .ctrust-text1 h4 {
    font-size: 8px;
  }
  .pi-text button {
    padding: 4px 4px;
    font-size: 6px;
  }
  .pi-text1 i {
    font-size: 10px;
  }
  .pi-text {
    padding: 5px;
  }
  .pindicator-content {
    padding: 4px 0 4px 4px;
  }
  .wurl a,
  .wdomain span,
  .w-ip-address strong {
    font-size: 10px;
  }
  .wt-child p {
    font-size: 10px;
  }
  .wdetails-text h5 {
    font-size: 10px;
  }
  strong {
    font-size: 15px;
  }
  .wsafety-range-score small {
    font-size: 8px;
  }
  .wsafety-range-container button {
    padding: 2px 8px;
    font-size: 10px;
  }
  .privacy-info {
    font-size: 5px;
  }
}
