/* :root{
    --border: 1px solid black;
    --default-purple-color : rgb(79, 70, 229);
    --radial-background: radial-gradient(circle at top left, #AAB8FC 0%, transparent 30%),
        radial-gradient( circle at bottom right, #b6c0f0 0%, transparent 15%),
        #F7F7F7;
    --h1-font-size: clamp(1rem, calc(1vw + 1.5rem), 3rem); 
    --p-font-size: clamp(0.8rem, calc(1vw + 0.2rem), 1.7rem);
    --p-color: rgba(0, 0, 0, 0.7);
}

.safety-score-container h3{
    font-size: clamp(1rem, calc(1vw + 1rem), 2rem); 
    font-weight: 500;
}

.safety-score{
    height: 10rem;
    width: 10rem;
    border: var(--border);
    border-color: black;
    border-radius: 50%;
    border-width: 0.7rem;
}

.safety-score div{
    border: var(--border);
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-width: 0.7rem;
    border-color: green;
}

.safety-score span{
    font-size: clamp(2rem, calc(1vw + 2rem), 4rem);
} */